// Reset styles

* {
    all: unset;
}

.test {
    background-color: red;
}

// Importing themes

@import "colors/default.scss";

// Icons config

//$icons: battery, volume, wifi, clipboard, backapps, bluetooth, time, music, wheather, search, dashboard, notifications, ws-foc, ws-act, ws-uct; 
//$icon-sizes: 30px, 50px;

//@each $icon in $icons {
//    @each $size in $icon-sizes {
//	.icon-#{$icon}-#{$size} {
//	    font-size: $size;
//	    color: $icon;
//	}
//    }
//}

// Tooltip config

tooltip {
    background-color: $block;
    border-radius: 1rem;
}

// Text config

.icon {
    font-family: iconFont
}

.bar-text {
    font-size: 0.9rem
}

.bar-icon {
    font-size: 1.5rem
}

// Block config

.block {
    background-color: $block;
    border-radius: 1em;
    padding: 0.2rem 1rem 0.2rem 1rem;
    .db {
	background: $block-db;
    }
}


// Scale config

scale trough {
  background-color: $scale;
  border-radius: 5px;
  min-height: 5px;
  min-width: 100px;
}

scale trough highlight {
    background-color: #FFFFFF;
    border-radius: 5px;
}

// Tray config

.tray_box {
//    @include window;
    min-width: 10rem;
    min-height: 1.5rem;
}



