$background: #1A1B26;
$foreground: #A9B1D6;

$red: #E05C4B;
$green: #33FF93;
$light-grey: #D9D9D9;
$grey: #1F232B;
$yellow: #F9B458;
$purple: #9900FF;
$elec-blue: #7DF9FF;
$white: $foreground;

$btn-hover: rgba(150, 150, 150, 0.52);
