$fs-xxs: 20px;
$fs-xs: 22px;
$fs-s: 24px;
$fs-m: 26px;
$fs-l: 32px;
$fs-xl: 34px;
$fs-xxl: 46px;

$font-sizes: (
  "0": 0,
  xxs: $fs-xxs,
  xs: $fs-xs,
  s: $fs-s,
  m: $fs-m,
  l: $fs-l,
  xl: $fs-xl,
  xxl: $fs-xxl
);

* {
  
}

.icon {
  all: unset;
  font-family: icomoon;
}



@each $size, $factor in $font-sizes {
  .fs-#{$size} {
    font-size: $factor;
  }
}


@each $v in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .fw-#{$v} {
    font-weight: $v;
  }
}
